GROQ_API_KEY=
OPENROUTER_API_KEY=
NVIDIA_NIM_API_KEY=
TELEGRAM_BOT_TOKEN=
VENOM_MAIN_MODEL=llama-3.3-8b-instruct
VENOM_PLANNING_MODEL=nvidia/nemotron-4-340b-instruct
VENOM_CODING_MODEL=moonshotai/moonshot-v1-8k
VENOM_MULTIPURPOSE_MODEL=llama-3.1-70b-versatile
